# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dylib.*
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.mk
config.status
configure

djinn
.vscode
CMakeFiles
Testing
